h1 {
    background-color : rgb(160, 24, 160); margin : 0px;
}

.c0 {
    display : flex;
    justify-content : space-between;
    margin : auto;
    width : 80%;
}

.c1 {
    display : flex;
    flex : 0.7;
}

.c4 {
    flex : 0.8;
}

.c4 > ul {
    display : flex;
    justify-content : space-evenly;
    margin : auto;
    list-style-type : none;
}

.c2 {
    display : flex;
    justify-content : space-evenly;
    flex : 0.3;
}