.c0 {
    display : flex;
    justify-content : space-between;
    width : 80%;
    margin : auto;
    align-items : center;
}

.c1 {
    display : flex;
    flex : 0.7;
}

.c2 {
    display : flex;
    flex : 0.3;
    justify-content : space-evenly;
}

.c3 {
    flex : 0.1;
}

.c4 {
    flex : 0.9;
}


.c4 > ul {
    display : flex;
    justify-content : space-evenly;
    list-style-type : none;
    margin : 0;
}